<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title ?? 'Court Booking' }}</title>
  <meta name="csrf-token" content="{{ csrfToken() }}">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
  @stack('styles')
</head>
<body>

  <nav class="nav-bar">
    <div class="nav-container">
      <div class="logo">
        <span>Urban Tennis Club</span>
      </div>
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/courts">Courts</a></li>
        <li><a href="#">Coach</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="auth-menu">
        <a href="/login">Login</a>
        <a class="register-button" href="/register">Register</a>
      </div>
    </div>
  </nav>

  <main>
    @!section('content')
  </main>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.js"></script>
</body>
</html>